[MQTT]
BROKER_IP = YOUR_BROKER_IP
BROKER_PORT = YOUR_BROKER_PORT


[BACKEND]
SERVER_PROTOCOL = YOUR_SERVER_PROTOCOL
SERVER_IP = YOUR_SERVER_IP
SERVER_PORT = YOUR_SERVER_PORT
REPORT_TIME = YOUR_REPORT_TIME


[WEATHER]
URL = YOUR_WEATHER_URL
TOKEN = YOUR_WEATHER_TOKEN


[HEROKU]
SERVER_PROTOCOL = YOUR_SERVER_PROTOCOL
SERVER = YOUR_SERVER


# [LINE]
# SERVER_PROTOCOL = YOUR_SERVER_PROTOCOL
# SERVER = YOUR_SERVER


[MONGODB]
SERVER_PROTOCOL = YOUR_SERVER_PROTOCOL
SERVER = YOUR_SERVER
USER = YOUR_USER
PASSWORD = YOUR_PASSWORD
DATABASE = YOUR_DATABASE
# SERVER_IP = YOUR_SERVER_IP


[MYSQL]
SERVER_IP = YOUR_SERVER_IP
SERVER_PORT = YOUR_SERVER_PORT
USER = YOUR_USER
PASSWORD = YOUR_PASSWORD
DATABASE = YOUR_DATABASE


[TELEGRAM]
ACCESS_TOKEN = YOUR_ACCESS_TOKEN
GROUP_ID = YOUR_GROUP_ID
DEV_USER_ID = YOUR_DEV_USER_ID


[DEVICE]
DL303_OWNER = YOUR_DL303_OWNER
ET7044_OWNER = YOUR_ET7044_OWNER
UPS_OWNER = YOUR_UPS_OWNER
AIR_CONDICTION_OWNER = YOUR_AIR_CONDICTION_OWNER
WATER_TANK_OWNER = YOUR_WATER_TANK_OWNER
